<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIWebViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9310311117AC9F2D003BA1EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93C9E4361950227300516B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93C9E44C1950233000516B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93C9E45F195023E000516B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93C9E4741950242300516B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
